{
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"useTabs": true,
	"jsxSingleQuote": true,
	"tabWidth": 4,
	"printWidth": 100,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.json", ".*"],
			"options": {
				"parser": "",
				"singleQuote": false,
				"semi": false,
				"tabWidth": 4,
				"useTabs": true
			}
		}
	]
}
